<app-page title="Star Wars" [instructions]="instructions">
    <ul>
        <li *ngFor="let e of resourcesKeys()">
            <input type="radio" name="resource" value="resources[e]" (change)="getResource(resources[e])"> {{resources[e] | firstLetterUpper}}
        </li>
    </ul>

    <ng-container [ngSwitch]="currentResource">
        <app-row>
            <ng-container *ngSwitchCase="'people'">
                <app-col *ngFor="let d of data.results">
                    <app-people [data]="d"></app-people>
                </app-col>
            </ng-container>
            <ng-container *ngSwitchCase="'films'">
                <app-col *ngFor="let d of data.results">
                    <app-film [data]="d"></app-film>
                </app-col>
            </ng-container>
            <ng-container *ngSwitchCase="'starships'">
                <app-col *ngFor="let d of data.results">
                    <app-starship [data]="d"></app-starship>
                </app-col>
            </ng-container>
            <ng-container *ngSwitchCase="'vehicles'">
                <app-col *ngFor="let d of data.results">
                    <app-vehicle [data]="d"></app-vehicle>
                </app-col>
            </ng-container>
            <ng-container *ngSwitchCase="'species'">
                <app-col *ngFor="let d of data.results">
                    <app-specie [data]="d"></app-specie>
                </app-col>
            </ng-container>
            <ng-container *ngSwitchCase="'planets'">
                <app-col *ngFor="let d of data.results">
                    <app-planet [data]="d"></app-planet>
                </app-col>
            </ng-container>
        </app-row>
    </ng-container>
</app-page>