@import '../../../sass/variables.scss';

.description {
    padding: $padding-horizontal;
    margin-bottom: 32px;

    h2 {
        font-size: 3em;
        margin: 0;
        padding:0;
        margin-bottom: 24px;
    }

    p {
        font-size: 1.15em;
    }
}