$imgDimen: 100px;

.card {
    border: 1px solid #e3e3e3;
    padding: 16px;
    width: 200px;

    h1 {
        padding: 0;
        margin-bottom: 8px;
        font-weight: 500;
    }

    p {
        margin-bottom: 8px;
        font-weight: 300;
    }

    ::ng-deep .body > img {
        border-radius: 50%;
        width: $imgDimen;
        height: $imgDimen;
    }
}

@media screen and (orientation: portrait) {
    .card {
        width: auto;
    }
}