<header>
<nav>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/star-wars" routerLinkActive="active">Star Wars</a></li>
        <li><a routerLink="/marvel" routerLinkActive="active">Marvel</a></li>
        <li><a routerLink="/likes" routerLinkActive="active">Likes</a></li>
    </ul>
</nav>
</header>
<article>
    <app-welcome [presantation]="makePagePresentation()" [description]="instructions"></app-welcome>
    <ng-content></ng-content>
</article>
<footer>
    <span>
        Awesome Tastes Discovery@2018 - A project just for fun! :)
    </span>
    <span class="footer-text">
        <a class="footer-link" target="_blank" href="https://github.com/anakis">🤖 anakis</a>
    </span>
</footer>